{% extends 'base.html.twig' %}

{% block title %}TodosLists APP{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/lists.css"/>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="topbar">
            <a  class="btn" href="./create-list">Ajouter une liste</a>
        </div>
        <div class="board">
            {% for list in lists %}
                <div class="card">
                    <div class="card-header">
                        <div class="title">{{ list.name}} - {{ list.color}}</div>
                        <a type="button" class="btn" href="./update-list/{{list.id}}">Modifier</a>
                        <a type="button" class="btn btn-delete" >X</a>
                    </div>
                    <div class="todoList">
                        <ul>
                            
                        </ul>      
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

